/*universal css ---------------------------------------------------------------------------------*/
body {
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    margin: 0;
}
nav { 
    display: flex;
    justify-content: space-between;
    background-color: rgb(159, 197, 248);
    border-style: solid;
    border-color: black;
    padding: 1em;
    margin: 0.5em;
    align-items: center;
    height: 2em;
}
.title {
    text-decoration: none;
    color: black; 
    font-size: x-large; 
}
.hyperlinks{
    display: flex;
    gap: 1em;
    font-size: large;
}
.hyperlinks a {
    align-self: center;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(159, 197, 248);
    border-style: solid;
    border-width: 25;
    border-color: black;
    padding: 1em;
    margin: 0.5em;
    margin-top: auto;
}
.PageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    width: 100vw;
}
.Sidebar {
    display: none;
    height: auto;
    width: 0vw;
    background-color: lightgray;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
}
.PageTitle {
    text-align: center;
    font-size: 3em;
}

/*css index ---------------------------------------------------------------------------------*/
.IndexMainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}
#pizzaria {
    height: auto;
    max-width: 35em;
    align-self: center;
}
.categoryExamples {
    display: flex;
    justify-content: center;
    gap: 6em;
    row-gap: 2em;
    flex-wrap: wrap;
}
.categoryPicture {
    height: auto;
    max-width: 20em;
}
.specificOption {
    position: relative;
    text-align: center;
}
.categoryText {
    font-size: 2.5vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/*css shop ---------------------------------------------------------------------------------*/
.AllShopContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    row-gap: 2em;
    padding-bottom: 1em;
}
.ShopItem {
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.ShopSecondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ShopItemInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.ShopSecondRow h2{
    margin: 0;
}
.DropdownSelection {
    width: fit-content;
}
.ShopItemPrize {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: larger;
}
.CartIcon {
    width: fit-content;
    height: 2.5em;
    mix-blend-mode: multiply;
}
.ShopItemPicture {
    width: fit-content;
    height: 25em;
    align-self: center;
}
.BuyButton {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

/*css feedback ---------------------------------------------------------------------------------*/
.FieldsetFeedback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;
}
.FormContainer {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.FormColumnQuestions {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.FormColumnAnswers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.FormColumnMultibleChoice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 1em;
}
.FormColumnChoicesRadio {
    margin: 0;
    align-items: center;
    text-align: center;
    accent-color: black;
}
.FormTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5em;
    min-height: 5.5em;
}
.FormTextBox {
    width: 20em;
    margin: 0.5em;
}
#feedbackBox {
    height: 10em;
    margin-top: 1.5em;
}
.FormSubmitContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}
.SubmitButton {
    box-shadow: 2px 2px;
}
.RequiredInput {
    color: red;
}

/*css basket ---------------------------------------------------------------------------------*/
.Sidebar p {
    min-width: 2em;
    margin: 0;
}
.MoneyTextP {
    min-width: 3em;
    margin: 0;
}
.BasketSidebarTitle {
    display: inherit;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 24px;
    align-items: center;
    padding-left: 1em;
    gap: 1em;
}
.BasketSidebarTitle h2 {
    margin: 0;
}
.BasketButtons {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.BasketItems {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    margin: 0;
}
.BasketEntry {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}
.BasketCounterName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}
.BasketTotal {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}
.BasketTotal p {
    font-size: larger;
    min-width: 3em;
    text-decoration: underline;
}
.BasketPrizeDelete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
}
.DeleteEntry {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 0;
}
.XImage {
    height: 1em;
    mix-blend-mode: multiply;
}
.EmptyBasket {
    margin-left: 1em;
    font-size: larger;
}
.BasketIcon {
    width: fit-content;
    height: 3em;
    position: relative;
}
.BasketIndicator {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 45px; 
    right: 25px; 
    font-size: 12px;
}
.CheckOutButton {
    margin-left: 2em;
    margin-right: 2em;
    width: auto;
}